/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap');

/* Custom Font Classes */
.font-marcellus {
  font-family: "Marcellus", serif;
  font-weight: 800;
  font-style: bold;
}

.font-jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global Color Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}



/* Body Styling */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Jost", sans-serif; /* Default font for body */
}

/* Slide Animations */
.slide-out-right {
  animation: slideOutRight 0.5s ease-in-out forwards;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Feedback Slide Styles */
.feedback-slide {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  margin: 0 auto; /* Center the feedback slide */
}

@media (max-width: 640px) {
  .feedback-slide {
    max-width: 100%; /* Full width on mobile */
  }
}
